.select2 {
    width: 100% !important;
}
.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice__display {
    color: #333;
}
.frm-grp .select2-container .select2-selection--multiple,.frm-grp .select2-container .select2-selection--single{
    min-height: 40px;
}
.frm-grp
    .select2-container--default
    .select2-selection--multiple
    .select2-selection__choice__remove {
    font-size: 20px;
    color: #000 !important;
    font-weight: normal;
    line-height: 25px;
}
.select2-container--default
    .select2-selection--multiple
    .select2-selection__rendered
    li {
    list-style: none;
    color: black;
}
